:root {
	font-size: 10px;
	--alm-black: #111;
	--alm-white: #ccc;
	--orng: #f9bf3b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto;
	font-size: 24px;
	color: var(--alm-white);
}

body {
	background-color: var(--alm-white);
}

header, main, footer {
	width: 100%;
}

header > div, footer > div, main > div {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
	background-color: var(--alm-black);
}


header, main, footer {
	background-color: var(--alm-black);
}

header {
	padding-bottom: 8rem;
}
header div {
	text-align: center;
	font-size: 48px;
}

header > div > div {
	transform: translateY(-100px);
}

.loaded {
	transform: translateY(0);
	transition: transform 1s;
}

main > div > div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 10rem;
}

main p {
	padding: 2rem 6rem;
}

main > div > div:nth-child(even) a {
	order: 2;
}

main > div > div:nth-child(even) p {
	order: 1;
}

main > div > div:nth-child(odd) p {
	text-align: right;
}

main a {
	position: relative;
	overflow: hidden;
	transition: border-color 0.25s linear;
	border: 4px solid var(--alm-white);
	border-radius: 15px;
}

main a:hover {
	transition: border-color 0.25s linear;
	border-color: var(--orng);
}

.descor:hover { border-color: #ed2d2d; }
.ftea:hover { border-color:#ab0c0c; }
.inws:hover { border-color: #1c3b6a; }
.haigla:hover { border-color: #44bed0; }
.auto:hover { border-color: #9dc635; }
.vedu:hover { border-color: #e04927; }

main a div {
	position: absolute;
	top: -200px;
	left: -200px;
	width: 1000px;
	height: 1000px;
	opacity: 1;
	transition: opacity 0.5s;
	background-color: rgba(0, 0, 0, 0.3);
}

main a:hover div {
	opacity: 0;
	transition: opacity 0.5s;
}

main img {
	width: 100%;
}

footer  ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}

li {
	list-style: none;
	padding-bottom: 20px;
}

footer a {
	text-decoration: none;
	transition: color 0.25s linear;
}

footer a:hover {
	color: var(--orng);
	transition: color 0.25s linear;
}


@media(max-width: 900px) {
	main > div > div {
		flex-direction: column;
	}

	main p {
		text-align: center !important;
		padding: 2rem 0;
	}

	main > div > div:nth-child(even) a {
		order: 1;
	}	

	main > div > div:nth-child(even) p {
		order: 2;
	}
}